<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Amount of votes on your polls</div>
      <div class="item item-body">
        <div>
          Yays: {{yays}}
          Nays: {{nays}}
          Neutral: {{neutral}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Amount of votes you've cast</div>
      <div class="item item-body">
        <div>
          {{votedOn.length}}
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Current amount of polls you can vote on</div>
      <div class="item item-body">
        <div>
          {{amountOfVotablePolls}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
