<ion-side-menus>
      <ion-side-menu-content drag-content="false">
          <ion-header-bar class="bar-positive">
              <button class="button button-icon ion-navicon" ng-click="toggleLeft()" ng-hide="$exposeAside.active"></button>
              <h1 class="title">Polls</h1>
          </ion-header-bar>
          <ion-content class="padding" ng-show="hasSelectedPoll">
                      <div class="list card">

                          <div class="item item-avatar">
                              <img src="mcfly.jpg">
                              <h2>{{pollDetail.title}}</h2>
                              <p>{{pollDetail.dateOfCreation}}</p>
                          </div>

                          <div class="item item-body">
                              <img class="full-image" src="delorean.jpg">
                              <p>
                                  {{pollDetail.longDescription}}
                              </p>
                              <p>
                                  <a href="#" class="subdued">Yays: {{yays}}</a>
                                  <a href="#" class="subdued">Nays: {{nays}}</a>
                                  <a href="#" class="subdued">Neutral votes: {{neutral}}</a>
                              </p>
                          </div>

                          <div class="item tabs tabs-secondary tabs-icon-left" ng-hide="hasVotedOn">
                              <a class="tab-item button icon-right ion-thumbsup button-positive" ng-click="showConfirmRating(pollDetail, 'yay')">
                                  Yay!
                              </a>
                              <a class="tab-item button icon-right ion-thumbsdown button-assertive" ng-click="showConfirmRating(pollDetail, 'nay')">
                                  Nay!
                              </a>
                              <a class="tab-item button button-stable icon-right ion-document" ng-click="showConfirmRating(pollDetail, 'neutral')">
                                  Neutral
                              </a>
                          </div>
                      </div>
          </ion-content>

          <ion-content class="padding" ng-show="!hasSelectedPoll">
              <h2 class="subdued">Please selected a poll from the left side menu</h2>
          </ion-content>
      </ion-side-menu-content>

      <ion-side-menu expose-aside-when="large">
          <ion-header-bar class="bar-royal">
              <h1 class="title">Left Menu</h1>
          </ion-header-bar>
          <ion-content>
              <!--<ion-item class="item-icon-right" ng-repeat="poll in polls" type="item-text-wrap" href="#/tab/chats/{{$scope.index = $index}}">-->
              <ion-item class="item-icon-right" ng-repeat="poll in polls" type="item-text-wrap" on-tap="getPoll($index)">
                  <h2>{{poll.title}}</h2>
                  <p>{{poll.shortDescription}}</p>
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
          </ion-content>
      </ion-side-menu>
</ion-side-menus>
