<ion-view view-title="Chats">
  <ion-content>
      <ion-side-menus>
      <ion-side-menu expose-aside-when="large">
          <ion-item class="item-icon-right" ng-repeat="poll in polls" type="item-text-wrap" href="#/tab/chats/{{$scope.index = $index}}">

              <h2>{{poll.title}}</h2>
              <p>{{poll.shortDescription}}</p>
              <i class="icon ion-chevron-right icon-accessory"></i>

          </ion-item>
      </ion-side-menu>
    <ion-list>
        <div class="range">
            <i class="icon ion-minus-circled"></i>
            <input on-release="onRelease(data)" type="range" name="range" min="1" max="200" ng-model="data.range">
            <i class="icon ion-plus-circled"></i>
        </div>
        <p>Miles : {{data.range}}</p>
      <ion-item class="item-icon-right" ng-repeat="poll in polls" type="item-text-wrap" href="#/tab/polls/{{$scope.index = $index}}">

        <h2>{{poll.title}}</h2>
        <p>{{poll.shortDescription}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
      </ion-side-menus>

  </ion-content>
</ion-view>

