<ion-view view-title="Account">
  <ion-content>
      <ion-header-bar class="bar-positive">

      </ion-header-bar>
    <ion-list>
      <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
        <button class="button button-assertive" ng-click="showConfirmLogout()">
            Logout
        </button>

        <button class="button button-assertive" ng-click="getPhoto()">
            Camera
        </button>
    </ion-list>
      <img id="myImage" src="" height="200px" width="200px">

  </ion-content>
</ion-view>
